.carousel {
    background-color: $main-white;
    border-radius: 15px; // Bordes redondeados para el carrusel
    overflow: hidden; // Asegura que los bordes de las imágenes no sobresalgan
    margin: 2%;

    @media (min-width: 768px) {
        width: 80%;
        margin: 0;
    }

    .carousel-item img {
        width: 100%; // Ajusta el ancho a 100% del contenedor
        height: auto; // Mantiene la proporción de aspecto
        max-height: 500px; // Define una altura máxima para las imágenes
        object-fit: cover; // Asegura que las imágenes cubran el área del carrusel sin distorsionarse
        border-radius: 15px; // Bordes redondeados para las imágenes
    }
}
