.header {
    position: -webkit-sticky; // Compatibilidad con Safari
    position: sticky;
    top: 0; // Siempre pegado en la parte superior al hacer scroll
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 4vw; // Usar unidades relativas para el padding
    background-color: $azul-cambacua;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
    z-index: 2000;
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
    .header-logo {
        width: 15vw; // Ancho relativo al viewport
        height: 5vw; // Altura relativa al viewport
        max-width: 100%; // Limitar el tamaño máximo
        max-height: 100%;
        background-image: url('https://i.ibb.co/fMb1dQS/camba-cua-logo-nobg.png'); // Placeholder para el logo
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &.scrolled {
        background-color: $azul-cambacua;
        padding: .1rem 1rem;
        img {
            width: 8%;
            height: 100%;
        }
        .searchbox {
            display: none;
        }
    }

}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 3vh 4vw;
        display: none;

        .header-logo {
            width: 15vw;
            height: 15vw;
            margin-bottom: 2vh;
        }
    }
}