.item-list {
    display: grid;
    gap: 8px; // Espacio entre los productos
    padding: 1%;
    grid-template-columns: repeat(2, 1fr);
    min-height: 50vh; // Asegura que el contenedor tenga una altura mínima
    position: relative;
}



.loader,
.no-results {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; // Asegura que el texto esté centrado
    margin: 2rem 0; // Espacio superior e inferior para separar del contenido

}

.loader {
    height: auto;

}

.no-results {
    width: 80%;
    color: $main-white;
    margin-top: 2rem;
    font-size: 1.2em;
    background-color: $azul-cambacua;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Añade una sombra sutil

    p {
        margin: 1rem;
        padding: 1rem;
    }
}

@media (min-width: 768px) {
    .item-list {
        grid-template-columns: repeat(3, 1fr); // 2 columnas en tablet
        padding: 24px;
        gap: 16px;

    }
}

@media (min-width: 1024px) {
    .item-list {
        grid-template-columns: repeat(4, 1fr); // 4 columnas en escritorio
        padding: 32px;
        gap: 16px;

    }

}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    button {
        background-color: #0b369c;
        color: white;
        border: none;
        padding: 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        cursor: pointer;
        border-radius: 50%;
        transition: background-color 0.3s ease;
        margin: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: darken(#0b369c, 10%);
        }

        &:disabled {
            background-color: #c4c4c4;
            cursor: not-allowed;
        }
    }

    span {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
    }
}