.product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    display: flex;
    max-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    width: 100%; // Ocupa todo el ancho disponible en la celda del grid
    box-sizing: border-box; // Asegura que padding y borde se incluyan en el ancho total
}

.carousel {
    width: 100%;
    max-height: 300px;
    .carousel-cell {
        width: 100%; /* Ajusta este valor según tus necesidades */
        border-radius: 10px;
        .product-image {
            object-fit: contain;
            width: 100%;
            height: auto;
            border-radius: 10px; /* Ejemplo de un estilo extra */
        }
        
    }
}





.product-category {
    font-size: 16px;
    color: #333;
}

.product-name {
    font-size: 18px;
    margin: 8px 0;
    font-weight: 600;
}

.product-price {
    font-size: 16px;
    color: #333;
}

.quantity-control {
    display: flex;
    align-items: center;
    margin: 10px 0;

    button {
        background-color: #f0f0f0;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 8px;
        cursor: pointer;
        font-size: 18px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #e0e0e0;
        }

        &:focus {
            outline: none;
        }
    }

    input {
        width: 60px;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 8px;
        font-size: 16px;
        margin: 0 5px;
        box-sizing: border-box;
    }
}

.add-to-cart-button {
    background-color: $azul-cambacua;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
    margin-top: 1rem;

    &:hover {
        background-color: $button-hover-cambacua;
    }
}

@media (min-width: 768px) {
    .product-card {
        margin: 8px; // Agrega margen entre tarjetas en pantallas medianas
    }

    .carousel {
        width: 100%;
        max-height: 210px;
        .carousel-cell {
            width: 100%; /* Ajusta este valor según tus necesidades */
            
            border-radius: 10px;
            .product-image {
                object-fit: contain;
                width: 100%;
                max-height: 210px;
                border-radius: 10px; /* Ejemplo de un estilo extra */
            }
            
        }
    }
    
    
   
}

@media (min-width: 1024px) {
    .product-card {
        margin: 12px; // Agrega más margen entre tarjetas en pantallas grandes
        width: 90%;
    }

    .carousel {
        width: 100%;
        max-height: 300px;
        .carousel-cell {
            width: 100%; /* Ajusta este valor según tus necesidades */
            border-radius: 10px;
            .product-image {
                object-fit: contain;
                width: 100%;
                max-height: 300px;
                border-radius: 10px; /* Ejemplo de un estilo extra */
            }
            
        }
    }
    
    

    .product-category {
        font-size: 1.2rem;
        color: #333;
    }

    .product-name {
        font-size: 1.5rem;
        margin: 8px 0;
        font-weight: 600;
    }

    .product-price {
        font-size: 1.3rem;
        color: #333;
    }
}

