.product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    width: 100%;
    box-sizing: border-box;
}

.product-category {
    font-size: 16px;
    color: #333;
}

.product-name {
    font-size: 18px;
    margin: 8px 0;
    font-weight: 600;
}

.product-price {
    font-size: 16px;
    color: #333;
}

.quantity-control {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.quantity-control button {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.quantity-control input {
    width: 60px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    margin: 0 5px;
    box-sizing: border-box;
}

.add-to-cart-button {
    background-color: $azul-cambacua;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.add-to-cart-button:hover {
    background-color: #0056b3;
}

.carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
    max-height: 300px;
}

.carousel-cell {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

@media (min-width: 768px) {
    .product-card {
        margin: 8px;
    }

    .carousel {
        max-height: 250px;
    }

    .product-image {
        max-height: 250px;
    }
}

@media (min-width: 1024px) {
    .product-card {
        margin: 12px;
        width: 90%;
    }

    .carousel {
        max-height: 300px;
    }

    .product-image {
        max-height: 300px;
    }
}
